html,
body {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table > tbody > tr:nth-child(even) {
  background-color: #fafafa;
}

table td,
table th {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 5px;
}

table > tbody > tr > td:not(:first-child) {
  text-align: center;
}

table p {
  margin: 0 0 5px 0;
}

table > thead > tr > th {
  cursor: pointer;
  user-select: none;
}

table > thead i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: none;
  padding: 3px;
  margin-left: 10px;
}

.up,
.down {
  display: inline-block;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

.filters {
  margin: 10px 0 25px 0;
}

.filters > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filters > div:not([data-key]) {
  flex-direction: row;
  justify-content: center
}

.filters > div > span {
  margin: 5px 0;
}

.col-wrapper {
  display: flex;
}

.col-wrapper img {
  width: 128px;
  height: 128px;
  object-fit: contain;
  object-position: center;
}

.filters button {
  margin: 10px 5px; 
}

.paginator {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.paginator button,
.paginator select {
  margin: 0 15px;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 0px 10px;
  padding: 3px 5px;
}

.chip span:last-child {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}